;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon May 16 13:04:59 2016
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring '("interse"))
(setq register-alist '((48 . "import Data.Function.Differentiable\n")))
(setq file-name-history '("~/progwrit/haskell/manifolds/" "~/progwrit/haskell/manifolds/manifolds" "~/progwrit/haskell/manifolds/" "" "manifolds"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "manifolds/Data/Manifold/TreeCover.hs"
  "TreeCover.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  29026
  '(3371 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/SetLike/Intersection.hs"
  "Intersection.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  32
  '(22 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/manifolds.cabal"
  "manifolds.cabal"
  'haskell-cabal-mode
  '(undo-tree-mode linum-mode)
  3922
  '(3914 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Web.hs"
  "Web.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(221 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Types.hs"
  "Types.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Function/Affine.hs"
  "Affine.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2213
  '(2615 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/PseudoAffine.hs"
  "PseudoAffine.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  9695
  '(9528 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Function/Differentiable.hs"
  "Differentiable.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  49609
  '(2420 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Riemannian.hs"
  "Riemannian.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifold-random/Data/Random/Manifold.hs"
  "Manifold.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifold-random/manifold-random.cabal"
  "manifold-random.cabal"
  'haskell-cabal-mode
  '(undo-tree-mode linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/SimplicialComplex.hs"
  "SimplicialComplex.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Embedding.hs"
  "Embedding.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/CoNat.hs"
  "CoNat.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Types/Primitive.hs"
  "Primitive.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/LinearMap/Category.hs"
  "linear-category"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/VectorSpace/FiniteDimensional.hs"
  "FiniteDimensional.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/LinearMap/HerMetric.hs"
  "HerMetric.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  21375
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

