;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat May 28 21:36:20 2016
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring '("Linea" "Gene" "\\<all\\>" "\\<forM\\>" "Tran" "\\<comparing\\>" "List" "Gene" "HMat" "Ide" "Map" "Folda" "Fast" "Maybe" "LinearMap" "Map"))
(setq register-alist '((48 . "                     Data.Manifold.Web\n")))
(setq file-name-history '("~/progwrit/haskell/manifolds/" "~/progwrit/haskell/manifolds/manifolds" "~/progwrit/haskell/manifolds/" "~/progwrit/haskell/manifolds/manifolds" "~/progwrit/haskell/manifolds/" "" "manifolds"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "manifolds/Data/Manifold/DifferentialEquation.hs"
  "DifferentialEquation.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1431
  '(1971 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/manifolds.cabal"
  "manifolds.cabal"
  'haskell-cabal-mode
  '(undo-tree-mode linum-mode)
  3591
  '(3572 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifold-random/Data/Random/Manifold.hs"
  "Manifold.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  753
  '(753 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Riemannian.hs"
  "Riemannian.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2866
  '(2542 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Griddable.hs"
  "Griddable.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1326
  '(824 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Web.hs"
  "Web.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2741
  '(2216 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/TreeCover.hs"
  "TreeCover.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  3768
  '(3191 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/SimplicialComplex.hs"
  "SimplicialComplex.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  3054
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Types.hs"
  "Types.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2018
  '(1999 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Cone.hs"
  "Cone.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1559
  '(1123 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Function/Differentiable.hs"
  "Differentiable.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2065
  '(49284 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Function/Affine.hs"
  "Affine.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1694
  '(1179 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/PseudoAffine.hs"
  "PseudoAffine.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  3288
  '(3170 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/LinearMap/HerMetric.hs"
  "HerMetric.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2188
  '(21337 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/LinearMap/Category.hs"
  "linear-category"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1549
  '(1169 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Manifold/Types/Primitive.hs"
  "Primitive.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2179
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/Embedding.hs"
  "Embedding.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1088
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/CoNat.hs"
  "CoNat.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  2107
  '(2144 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Util/LtdShow.hs"
  "LtdShow.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  163
  '(163 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/SetLike/Intersection.hs"
  "Intersection.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  32
  '(22 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifold-random/manifold-random.cabal"
  "manifold-random.cabal"
  'haskell-cabal-mode
  '(undo-tree-mode linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "manifolds/Data/VectorSpace/FiniteDimensional.hs"
  "FiniteDimensional.hs"
  'haskell-mode
  '(haskell-indent-mode undo-tree-mode linum-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

